MODULEMAP_FILE[sdk=iphoneos*]        = /Volumes/NETTRASH DATA/Develop/iOS/sib-lite/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = /Volumes/NETTRASH DATA/Develop/iOS/sib-lite/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = /Volumes/NETTRASH DATA/Develop/iOS/sib-lite/CommonCrypto/macosx.modulemap
MODULEMAP_FILE[sdk=watchos*]        = /Volumes/NETTRASH DATA/Develop/iOS/sib-lite/CommonCrypto/watchos.modulemap
MODULEMAP_FILE[sdk=watchsimulator*] = /Volumes/NETTRASH DATA/Develop/iOS/sib-lite/CommonCrypto/watchsimulator.modulemap
